*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
}

.navbarList{
    display: flex;
    align-items: center;
    position: relative;
}

.image{
    width: 200px;
    margin: 0% 1% 1% 15%;
    justify-content: center;
}

.menuList{
    width: 900px;
    height: 70px;
    display: flex;
    margin: 4% 5% 5% 7%; 
    padding: 20px;
    background-color: aqua;
    justify-items: center;
    gap: 50px;
    list-style: none;
    color: red;
    font-size: 20px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login{
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    margin: 20% 5% 5% 20%;
    gap: 10px;
    background-color: brown;
    /* "uppercase hidden lg:block text-inherit relative z-20" */
}

.navbarMenu{
    display: flex;
    /* "flex items-center gap-8 icons" */
}

.text-white{
    display: flex;
    position: relative;
    /* `icon flex items-center justify-center gap-6  */
}

.relative{
    display: flex;
}