@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* navBar */
.menu-container {
  background-color: #24262b;
  opacity: 0;
  transform: translatex(-100%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  z-index: 100;
  margin-top: 10px;
}

.menu-container.open{
  opacity: 1;
  transform: translatex(0);
}

.menu-container.closed{
  opacity: 0;
  transform: translatex(-100%);
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
  transition: background-color 0.3s ease;
}

.header.scrolled{
  background-color: blueviolet;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeInDown 0.5s ease;
  z-index: 100;
}

